include mixins


+page_container_narrow
  br
  br
  a(name="afisha" data-magellan-destination="afisha")
  h2 Афиша

  //+page_container_small
  //    img(src="images/sf2015-preparty720.jpg")
  //    <br><br><br>




  div.row.afisha

    div(class="medium-12 columns")
        +afisha_item(25, "сентября")
          | Яркое и теплое бабье-лето продолжается, а мы ждем вас в Стимуле завтра на вечеринку по случаю Пятницы! За пультом крутить музыку вечером будет DJ Katswing 😊 Для ранних пташек скидки на вход — приходите пораньше, начало в 20:00!

      //div(class="medium-6 columns")
      //  | &nbsp;
        //+afisha_item(29, "мая")
        //  | Афтепати Весеннего обострения: с фотками, видео и воспоминаниями очевидцев :) Музыка пятничного вечера от DJ Ole-Ole и DJ Katswing. Начало в 20:00!
