include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha
        div(class="medium-6 columns")
            +afisha_item(14, "ноября")
                | White party! Надоели темные улицы, серая промозглая осень, хочется белого и пушистого? В преддверье зимы мы объявляем вечеринку в белом и призы за самые белоснежные наряды! За пультом DJ T-Man Alex и DJ LeGriNi. Начало в 20:00.



        div(class="medium-6 columns")
            +afisha_item(21, "ноября")
                a(href="https://www.facebook.com/photo.php?fbid=990437330970217&set=gm.1557229674488733&type=1" target="_blank") Phone Party 
                | в Стимуле! Любой может добавить свою краску в музыкальную палитру вечера — подходите к диджейскому пульту. Командует DJ Don Pedro!




