include mixins

    
+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha

        div(class="medium-6 columns")
            +afisha_item(13, "марта")
                | Стимул с вами даже не смотря на грядущую пятницу 13 марта.
                |   Мы не верим в плохие приметы, а верим в хорошие танцы! Настроением вечера заведуют DJ&nbsp;Don&nbsp;Pedro & DJ&nbsp;Katswing
    
        div(class="medium-6 columns")
            +afisha_item(20, "марта")
                | Неделя до главного WCS-события года! Предстартовая лихорадка и последние приготовления перед долгожданным Руопеном. За пультом DJ&nbsp;Ole-Ole и DJ&nbsp;Katswing!
    
    
+page_container_small
    img(src="images/ropen2015real720.jpg")
    <br><br><br>
