include mixins


+page_container
  br
  br
  a(name="afisha" data-magellan-destination="afisha")
  h2 Афиша

  +page_container_small
      img(src="images/sf2015-preparty720.jpg")
      <br><br><br>
  

  div.row.afisha

    div(class="medium-6 columns")
      +afisha_item(15, "мая")
        | Мы вернулись с каникул! Рулевой этой пятницы — DJ Señor Don Pedro! Welcome!
      
    div(class="medium-6 columns")
      +afisha_item(22, "мая")
        | Вечеринка препати <a href="http://wcs.life/viesiennieie-obostrieniie-2015/" target="_blank">Весеннего Обострения c Браули!</a> Начало в 20:00
    