include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha

        div(class="medium-6 columns")
            +afisha_item(20, "февраля")
                | Препати True Man's: как обычно по пятницам, лучшая музыка и лучшие танцоры на самом большом танцполе Москвы!

        div(class="medium-6 columns")
            +afisha_item(22, "февраля")
                | True Man's Party в ночь с воксресенья на понедельник! Ночнина, посвященная 23 февраля! 
                | Подробности <a href="https://www.facebook.com/events/1395183237460179/" target="_blank">на фейсбуке</a>, регистрация <a href="#truemens-reg">на сайте</a>.
               
    