include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha
        div(class="medium-6 columns")
            +afisha_item(28, "ноября")
                a(href="https://www.facebook.com/groups/stimul.dance/1558584711019896/" target="_blank") Инвитейшнл Челлендж
                |  для наших преподавателей! Музыку может выбрать любой желающий: шлите свои композиции Дону Педро на почту  
                a(href="mailto:party@stimul.dance") party@stimul.dance
                | !

        div(class="medium-6 columns")
            +afisha_item(4, "декабря")
                | Танцуем под лучшую музыку US Open — за пультом весь вечер DJ Katswing!  В перерывах можно этот самый US Open посмотреть на большом экране и пообсуждать :)




