include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha
        
        div(class="medium-6 columns")
            +afisha_item(19, "декабря")
                | Пре-пати Утренника: обязательно пригласите на танец человека, которого вы видите впервые! Beginners-friendly музыка от DJ Ole-Ole и DJ LeGriNi :-)

        div(class="medium-6 columns")
            +afisha_item(26, "декабря")
                | <a href="https://www.facebook.com/photo.php?fbid=10204132525451565&set=gm.1569613556583678&type=1" target="_blank">Новогодняя вечеринка в Стимуле!</a> Лучшая музыка от DJ Katswing и DJ Don Pedro!
