include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha
        div(class="medium-6 columns")
            +afisha_item(24, "октября")
                | Moscow Westie Fest Pre-Party: попробуй свои силы в стриктли джем-контесте! Подробности и запись в комментариях <a href="https://www.facebook.com/photo.php?fbid=10205295785018367&set=gm.1547798098765224&type=1" target="_blank">в нашей группе на фейсбуке</a>. Весь вечер за пультом DJ Katswing!

        div(class="medium-6 columns")
            +afisha_item(31, "октября")
                | Отмена вечеринки. Приезжайте танцевать на <a href="http://westiefest.org" target="_blank">Moscow Westie Fest</a> в подмосковный Олимпиец!
             


