include mixins


+page_container
  br
  br
  a(name="afisha" data-magellan-destination="afisha")
  h2 Афиша

  //+page_container_small
  //    img(src="images/globalparty720.jpg")
  //    <br><br><br>
  //

  div.row.afisha

    div(class="medium-6 columns")
      +afisha_item(24, "апреля")
        | Впервые в истории —  прямой телемост между московской и казанской пятничными WCS-вечеринками!  Можно будет помахать ручкой, передать привет другу, позырить знакомые лица и послушать, что за музыка играет там у них ;) Музыкальную тему московской вечеринки будут представлять несравненные DJ Musya и DJ Katswing!
            
    div(class="medium-6 columns")
      +afisha_item(15, "мая")
        | Стимул на каникулах! Ближайшая вечеринка <b>в пятницу, 15 мая</b> :-) Желаем всем вам хорошо провести эти весенние дни! До встречи!