include mixins


+page_container_narrow
  br
  br
  a(name="afisha" data-magellan-destination="afisha")
  h2 Афиша

  //+page_container_small
  //    img(src="images/sf2015-preparty720.jpg")
  //    <br><br><br>




  div.row.afisha

    div(class="medium-12 columns")
        +afisha_item(9, "октября")
          | В это трудно поверить, нельзя пропустить и невозможно забыть! Сегодня пятница, а значит — WCS-вечеринка в Стимуле! Самая лучшая музыка в исполнении DJ Señor Don Pedro и самое лучшее окончание рабочей недели 😜 Keep calm and let's Stimul! Начало в 2015

      //div(class="medium-6 columns")
      //  | &nbsp;
        //+afisha_item(29, "мая")
        //  | Афтепати Весеннего обострения: с фотками, видео и воспоминаниями очевидцев :) Музыка пятничного вечера от DJ Ole-Ole и DJ Katswing. Начало в 20:00!
