include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha
        
        div(class="medium-6 columns")
            +afisha_item(12, "декабря")
                | Новогодний марафон «Голодные игры»: увлекательный мини-конкурс и море позитивной музыки от DJ T-Man Alex и DJ Marnemochka!
        
        div(class="medium-6 columns")
            +afisha_item(19, "декабря")
                | Пре-пати Утренника: обязательно пригласите на танец человека, которого вы видите впервые! Beginners-friendly музыка от DJ Ole-Ole и DJ LeGriNi :-)

