include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha

        div(class="medium-6 columns")
            +afisha_item(22, "февраля")
                | True Man's Party в ночь с воксресенья на понедельник! Ночнина, посвященная 23 февраля! 

        div(class="medium-6 columns")
            +afisha_item(27, "февраля")
                | В воздухе весна, а в Стимуле — снова танцы! Музыкальное весенне-солнечное настроение этой пятницы от DJ Ole-Ole и DJ Musya — приходите танцевать :-)
    
    