include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha
        div(class="medium-6 columns")
            +afisha_item(31, "октября")
                | Отмена вечеринки. Приезжайте танцевать на <a href="http://westiefest.org" target="_blank">Moscow Westie Fest</a> в подмосковный Олимпиец!

        div(class="medium-6 columns")
            +afisha_item(7, "ноября")
                | Афтапати Moscow Wetsie Fest! Яркие воспоминания, яркие танцы, чай с пряниками. За пультом DJ Katswing и DJ Musya! Начало в 20:00.


