include mixins

    
+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha

    
        div(class="medium-6 columns")
            +afisha_item(20, "марта")
                | Неделя до главного WCS-события года! Предстартовая лихорадка и последние приготовления перед долгожданным Руопеном. За пультом DJ&nbsp;Ole-Ole и DJ&nbsp;Katswing!
            
        div(class="medium-6 columns")
            +afisha_item(3, "апреля")
                | Russian Open WCS  After Party! Самые яркие моменты на большом экране и самая лучшая музыка Руопена от DJ Katswing! Начало в 20:00.


+page_container_small
    img(src="images/ropen2015after720.jpg")
    <br><br><br>
