include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha
        div(class="medium-6 columns")
            +afisha_item(7, "ноября")
                | Афтапати Moscow Wetsie Fest! Яркие воспоминания, яркие танцы, чай с пряниками. За пультом DJ Katswing и DJ Musya! Начало в 20:00.

        div(class="medium-6 columns")
            +afisha_item(14, "ноября")
                | White party! Надоели темные улицы, серая промозглая осень, хочется белого и пушистого? В преддверье зимы мы объявляем вечеринку в белом и призы за самые белоснежные наряды! За пультом DJ T-Man Alex и DJ LeGriNi. Начало в 20:00.



