include mixins

    
+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha

        div(class="medium-6 columns")
            +afisha_item(27, "февраля")
                | В воздухе весна, а в Стимуле — снова танцы! Музыкальное весенне-солнечное настроение этой пятницы от DJ Ole-Ole и DJ Musya — приходите танцевать :-)
    
        div(class="medium-6 columns")
            +afisha_item(6, "марта")
                | Большая предпраздничная вечеринка и подарок любимым женщинам от мужчин! За пультом DJ Ole-Ole и DJ Fantan. Начало в 20:00!
    
    
+page_container_small
    img(src="images/8-march-Stimul-web.jpg")
    <br><br><br>
