include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha

        div(class="medium-6 columns")
            +afisha_item(16, "января")
                | Стимул возвращается после новогодних каникул! В первую вечеринку 2015 года своей музыкой вас порадует DJ Señor Don Pedro! Начало в 20:00, Happy Time до 20:15 :-)
        div(class="medium-6 columns")
            +afisha_item(23, "января")
                | Продолжаем танцевать! Кстати, все помнят, что скоро 
                a(href="http://swingandsnow.ru", target="_blank") Swing&amp;Snow 
                | в Питере?
