include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha

        div(class="medium-6 columns")
            +afisha_item(6, "февраля")
                | Отмена! Вечеринки в стимуле не будет — все на 
                a(href="http://swingandsnow.ru" target="_blank") Swing&amp;Snow
                |  в Питер! Встречаемся в Стимуле в пятницу, 13 =)

        div(class="medium-6 columns")
            +afisha_item(13, "февраля")
                | Красно-черное пати! Весь вечер у руля DJ Don Pedro. Танцуем с 20:00 до 23:30!
               
    