include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha
        
        div(class="medium-6 columns")
            +afisha_item(26, "декабря")
                | <a href="https://www.facebook.com/photo.php?fbid=10204132525451565&set=gm.1569613556583678&type=1" target="_blank">Новогодняя вечеринка в Стимуле!</a> Лучшая музыка от DJ Katswing и DJ Don Pedro!

        div(class="medium-6 columns")
            +afisha_item(16, "января")
                | Стимул на новогодних каникулах. Поздравляем всех с Новым годом — пусть все ваши мечты сбываются! Увидимся на вечеринке в пятницу 16 января!
    