include mixins

+page_container
    br
    br
    a(name="afisha" data-magellan-destination="afisha")
    h2 Афиша
    div.row.afisha


        div(class="medium-6 columns")
            +afisha_item(5, "декабря")
                | Танцуем под лучшую музыку US Open — за пультом весь вечер DJ Katswing!  В перерывах можно этот самый US Open посмотреть на большом экране и пообсуждать :)


        div(class="medium-6 columns")
            +afisha_item(12, "декабря")
                | Новогодний марафон «Голодные игры»: увлекательный мини-конкурс и море позитивной музыки от DJ T-Man Alex и DJ Marnemochka!
        

