head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Stimul Big Party – West Coast Swing

    meta(itemprop="name" content="Stimul Big Party – West Coast Swing")
    meta(property="og:title" content="Stimul Big Party – West Coast Swing")
    meta(itemprop="description" content="Пятничная WCS-вечеринка в Стимуле, Москва")
    meta(name="description" content="Пятничная WCS-вечеринка в Стимуле, Москва")
    meta(property="og:description" content="Пятничная WCS-вечеринка в Стимуле, Москва")
    meta(name="keywords" lang="ru" content="ВКС, свинг, вест, кост, весткост, социальные, парные, танцы, мастер-классы, обучение танцам, обучение парным танцам, школа танцев, Москва, Россиия, WCS, West Coast Swing")

    meta(property="og:image" content="http://stimul.dance/images/stimul-meta-1200x630.jpg")
    link(rel="image_src" href="http://stimul.dance/images/stimul-meta-1200x630.jpg")
    meta(itemprop="image" content="http://stimul.dance/images/stimul-meta-1200x630.jpg")
    
    meta(name="google-site-verification" content="oVl82UX8ANa51JKZD0C_y_vdRUyVxu-ceBwP7uNc6zs")

    // build:css css/app.min.css
    link(rel="stylesheet", href="css/app.css")
    link(rel="stylesheet", href="css/app_override.css")
    // endbuild
    // build:js js/vendor/modernizr.min.js
    script(src="bower_components/modernizr/modernizr.js")
    // endbuild