div(class="contain-to-grid fixed top-bar-container" data-magellan-expedition)
    nav(data-topbar class="top-bar" role="navigation")
        ul(class="title-area")
            li.name 
                h1: strong Stimul Big Party West Coast Swing
            li(class="toggle-topbar menu-icon")
                a(href="#"): span Меню
 
        section(class="top-bar-section")
            ul
                li(data-magellan-arrival="party"): a(href="#party") Вечеринка
                li(data-magellan-arrival="afisha"): a(href="#afisha")  Афиша
                li(data-magellan-arrival="stimul"): a(href="#stimul") Стимул
                li(data-magellan-arrival="address"): a(href="#address") Адрес
                li(data-magellan-arrival="about"): a(href="#about") О нас
                li(data-magellan-arrival="wcs"): a(href="#wcs") West Coast Swing
