include mixins
  a(name="truemens-reg")
+page_container_narrow
  div.row
    div(class="medium-12 columns")
      div.truemans2016
        div.form
          div.row
            div.large-8.medium-8.small-10.medium-centered.large-centered.small-centered.columns
              h2 Универсальный солдат WCS!
              p Танцевальный Jack n' Jill батл только в мужской компании! Регистрируйтесь! Подробности в группе на <a href="https://www.facebook.com/events/1503818956594005/", target="_blank" style="font-weight: bold; text-decoration: underline; color: #fff">Фейсбуке</a>.
              include truemens-form.html
              p(style="font-size:.87rem")
                span#truemans-num
                | &nbsp;твоих друзей уже записались на 
                a(href="https://www.facebook.com/events/1503818956594005/", target="_blank" style="font-weight: bold; text-decoration: underline; color: #fff") True Men's Battle в Стимуле!
                br
                img(src="images/trollface48.png" data-tooltip aria-haspopup="true" class="has-tip" title="Спартак")
                | &nbsp;
                img(src="images/trollface48.png" data-tooltip aria-haspopup="true" class="has-tip" title="Герардеска Манутиус")
                | &nbsp;
                img(src="images/trollface48.png" data-tooltip aria-haspopup="true" class="has-tip" title="Гай Ганик")
                | &nbsp;
                img(src="images/trollface48.png" data-tooltip aria-haspopup="true" class="has-tip" title="Батиата")
                | &nbsp;
                img(src="images/trollface48.png" data-tooltip aria-haspopup="true" class="has-tip" title="Эномай")
                                       