include mixins

a(name="truemens-reg")
+page_container_narrow
    div.row
        div(class="medium-12 columns")
            div.truemans2015
                div.form
                    div.row
                        div.large-8.medium-8.small-10.medium-centered.large-centered.small-centered.columns
                            h2 Универсальный солдат WCS!
                            //p Контест будет проходить в формате стриктли. Поэтому мужчины регистриуются по двое: партнер №1 + партнер №2. В финале каждому из участников нужно будет показать себя как в роли лидера, так и в роли ведомого! 
                            p Танцевальный Jack n' Jill батл только в мужской компании! Роли ведущих и ведомых будут распределяться на месте. Регистрируйтесь!
                            include truemans-from.html
                            p(style="font-size:.87rem")
                                span#truemans-num 
                                | &nbsp;твоих друзей уже записались на 
                                a(href="https://www.facebook.com/events/1395183237460179/", target="_blank" style="font-weight: bold; text-decoration: underline; color: #fff") True Men's Battle в Стимуле!
                                br
                                img(src="images/trollface48.png" data-tooltip aria-haspopup="true" class="has-tip" title="Спартак")
                                | &nbsp;
                                img(src="images/trollface48.png" data-tooltip aria-haspopup="true" class="has-tip" title="Герардеска Манутиус")
                                | &nbsp;
                                img(src="images/trollface48.png" data-tooltip aria-haspopup="true" class="has-tip" title="Гай Ганик")
                                | &nbsp;
                                img(src="images/trollface48.png" data-tooltip aria-haspopup="true" class="has-tip" title="Батиата")
                                | &nbsp;
                                img(src="images/trollface48.png" data-tooltip aria-haspopup="true" class="has-tip" title="Эномай")
